<html>
<head>
	<title>Twitter</title>
	<link rel="icon" href="/images/twitter-bird20x20.png" type="image/twitter-icon"/>
	<link href="/stylesheets/application.css" rel="stylesheet" type="text/css">
	</head>

	<body>

		<header>

			<nav>
				<ul>
					<il><img src="/images/HomeLogo.png"/> Home</il>
					<il><img src="/images/NotificationsLogo.png"/>Notifications</il>
					<il><img src="/images/DiscoverLogo.png"/>Discover</il>
					<il><img src="/images/MeLogo.png"/>Me</il>
				</ul>
			</nav>

		</header>

	</body>

</html>