<html>
<head>
	<title>Twitter</title>
	<link rel="icon" href="/images/twitter-bird20x20.png" type="image/twitter-icon"/>
	<link href="/stylesheets/application.css" rel="stylesheet" type="text/css">
	</head>

	<body>

		<header>
			<div class="topbar">
					<div class="box navigation">
							<ul>
								<il><img src="/images/HomeLogo.png"/> Home</il>
								<il><img src="/images/NotificationsLogo.png"/>Notifications</il>
								<il><img src="/images/DiscoverLogo.png"/>Discover</il>
								<il><img src="/images/MeLogo.png"/>Me</il>
							</ul>
					</div>

					<div class="box logo" style="display: flex;">
						<img src="/images/twitter_bird30x30.png"/>
					</div>

					<div class="box search">
						<form action="/search">
							<input class="search-input" type="text" id="search-query" placeholder="Search">
						</form>
					</div>

					<div class= "box actions"
						<ul>
							<il><img src="/images/MessagesLogo.png"/></li>
							<il><img src="/images/SettingsLogo.png"/></li>
							<il><img src="/images/ComposeLogo.png"/></li>
						</ul>
					</div>

			</div>

			</header>

	</body>

</html>